body {
    background-color: black;
    font-family: 'B612', sans-serif;
    background-image: url("../../assets/images/typewriter-blog2.jpg");
    /* background-size: cover; */
    color: white;
}

    


#scrape {
    margin-top: 7px;
}

.jumbotron {
background-image: url("../../assets/images/newspaper1.jpg");

 font-family: 'Martel', serif;
 font-size: 39px;
 font-weight: bolder;
 /* background-color: brown; */

}

img {
    padding: 10px;
}

h3 {
    font-size: 45px;
    font-weight: bold;
    padding: 5px;
}

h4 {
    font-weight: bold;
}

li, ul {
    color: white;
}

.navbar {
    font-weight: bold;
    
    
    
}

#navbar li, ul {
    /* background-color: rgb(40, 100, 189); */
    
    font-weight: normal;
        color: white;


  
}

li {
        color: white;
}


img {

}

.text-center {
    background-color: rgb(219, 152, 152)
}

.panel {
        background-color: rgb(165, 189, 224);

}

p {
    color: black;
}