body {
    background-color: black;
    font-family: 'B612', sans-serif;
    background-image: url("../../assets/images/typewriter-blog2.jpg");
    background-position: center;
  background-size: cover;
    
    color: white;
}

    


#scrape {
    margin-top: 7px;
}

.jumbotron {
background-image: url("../../assets/images/newspaper2.jpg");

 font-family: 'Martel', serif;
 font-size: 40px;
 font-weight: bolder;

}

img {
    padding: 10px;
}

h3 {
    font-size: 45px;
    font-weight: bold;
    text-shadow: 4px 3px 0px black;
    padding: 5px;
}

h4 {
    font-weight: bold;
}

li, ul {
    color: white;
}

.navbar{
    font-weight: bold;
    background-color: rgb(40, 100, 189);
    
    
}

#navbar li, ul {
    /* background-color: rgb(40, 100, 189); */
    
    font-weight: normal;
        color: white;


  
}

li {
        color: white;
}



.panel {
        background-color: rgb(211, 210, 168);

}

p {
    color: black;
}